<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="description" content="Name of your web site">
<meta name="author" content="Marketify">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Portfolio</title>
<!-- Vue js -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

<!-- STYLES -->
<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="css/plugins.css" />
<link rel="stylesheet" type="text/css" href="css/dark.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<!--<link rel="stylesheet" type="text/css" href="css/dark.css" />-->
<!--[if lt IE 9]> <script type="text/javascript" src="js/modernizr.custom.js"></script> <![endif]-->
<!-- /STYLES -->

</head>

<body> 
	
	<!-- PRELOADER -->
	<div id="preloader">
		<div class="loader_line"></div>
	</div>
	<!-- /PRELOADER -->
	
<!-- WRAPPER ALL -->
<!--<div class="iknow_tm_all_wrap" data-magic-cursor="show" data-animation-in="rotateInDownLeft" data-animation-out="rotateOutDownLeft"> -->
<div class="iknow_tm_all_wrap" data-magic-cursor="hide" data-enter="zoomIn" data-exit="zoomOut">
<!-- If you want disable magic cursor change value to "hide" -->	
	
	<!-- MODALBOX -->
	<div class="iknow_tm_modalbox">
		<div class="box_inner">
			<div class="close">
				<a href="#"><img class="svg" src="img/svg/cancel.svg" alt="" /></a>
			</div>
			<div class="description_wrap"></div>
		</div>
	</div>
	<!-- /MODALBOX -->
	
	<!-- MOBILE MENU -->
	<div class="iknow_tm_mobile_menu">
		<div class="mobile_menu_inner">
			<div class="mobile_in">
				<div class="logo">
					<a href="#"><img src="img/logo/dark.png" alt="" /></a>
				</div>
				<div class="trigger">
					<div class="hamburger hamburger--slider">
						<div class="hamburger-box">
							<div class="hamburger-inner"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="dropdown">
			<div class="dropdown_inner">
				<ul class="transition_link">
					<li class="current"><a href="#home">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#resume">Resume</a></li>
					<li><a href="#portfolio">Portfolio</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /MOBILE MENU -->
	
	<!-- SIDEBAR -->
	<div class="iknow_tm_sidebar_2">
		<div class="sidebar_inner">
			<div class="logo">
				<a href="#"><img src="img/logo/dark.png" alt="" /></a>
			</div>
			<div class="menu transition_link">
				<ul>
					<li class="active">
						<img class="svg" src="img/svg/squares.svg" alt="" />
						<span>Home</span>
						<a class="iknow_tm_full_link" href="#home"></a>
					</li>
					<li>
						<img class="svg" src="img/svg/archive.svg" alt="" />
						<span>À propos de moi</span>
						<a class="iknow_tm_full_link" href="#about"></a>
					</li>
					<li>
						<img class="svg" src="img/svg/contacs.svg" alt="" />
						<span>Curriculum vitae</span>
						<a class="iknow_tm_full_link" href="#resume"></a>
					</li>
					<li>
						<img class="svg" src="img/svg/briefcase.svg" alt="" />
						<span>Portfolio</span>
						<a class="iknow_tm_full_link" href="#portfolio"></a>
					</li>
					<span class="ccc"></span>
				</ul>
			</div>
		</div>
	</div>
	<!-- /SIDEBAR -->
	
	<!-- MAINPART -->
	
	<div class="iknow_tm_fixed_mainpart">
		<div class="mainpart_inner">
		
			<!-- Hero Shapes -->
			<div class="simple_shapes">
				<span class="one anim_scale"><img class="svg" src="img/svg/shapes/9.svg" alt="" /></span>
				<span class="two anim_moveLeft"><img class="svg" src="img/svg/shapes/dot.svg" alt="" /></span>
				<span class="three anim_moveTop"><img class="svg" src="img/svg/shapes/dot-2.svg" alt="" /></span>
				<span class="four anim_circle"><img class="svg" src="img/svg/shapes/1.svg" alt="" /></span>
				<span class="five anim_circle"><img class="svg" src="img/svg/shapes/8.svg" alt="" /></span>
				<span class="six anim_circle"><img class="svg" src="img/svg/shapes/3.svg" alt="" /></span>
				<span class="seven anim_right"><img class="svg" src="img/svg/shapes/4.svg" alt="" /></span>
				<span class="eight anim_scale"><img class="svg" src="img/svg/shapes/9.svg" alt="" /></span>
				<span class="nine anim_circle"><img class="svg" src="img/svg/shapes/3.svg" alt="" /></span>
				<span class="ten anim_moveLeft"><img class="svg" src="img/svg/shapes/4.svg" alt="" /></span>
				<span class="eleven anim_scale"><img class="svg" src="img/svg/shapes/9.svg" alt="" /></span>
				<span class="twelve anim_extra"><img class="svg" src="img/svg/shapes/2.svg" alt="" /></span>
				<span class="thirteen anim_circle"><img class="svg" src="img/svg/shapes/5.svg" alt="" /></span>
				<span class="fourteen anim_scale"><img class="svg" src="img/svg/shapes/9.svg" alt="" /></span>
				<span class="fifteen anim_circle"><img class="svg" src="img/svg/shapes/3.svg" alt="" /></span>
				<span class="sixteen anim_scale"><img class="svg" src="img/svg/shapes/9.svg" alt="" /></span>
				<span class="seventeen anim_circle"><img class="svg" src="img/svg/shapes/5.svg" alt="" /></span>
				<span class="eighteen anim_scale"><img class="svg" src="img/svg/shapes/9.svg" alt="" /></span>
				<span class="nineteen anim_scale"><img class="svg" src="img/svg/shapes/9.svg" alt="" /></span>
				<span class="twenty anim_circle"><img class="svg" src="img/svg/shapes/1.svg" alt="" /></span>
			</div>
			<!-- /Hero Shapes -->
		
			<!-- TOPBAR -->
			<div class="topbar_extra">
				<div class="details">
					<div class="social">
						<ul>
							<li><a href="#" id="reseau_linkedin"><img class="svg" src="img/svg/social/linkedin-2.svg" alt="" /></a></li>
						</ul>
					</div>
					<div class="iknow_tm_button">
						<a href="img/cv/1.jpg" id="mon_cv" download>Télécharger CV</a>
					</div>
				</div>
			</div>
			<!-- /TOPBAR -->
			
			<!-- CONTENT -->
			<div id="app">
			<div class="iknow_tm_content_extra">
			
				<!-- HOME -->
				<div class="iknow_tm_animate_section animated" id="home">
					<div class="iknow_tm_hero_extra">
						<div class="background">
							<div class="image"></div>
							<div class="overlay"></div>
						</div>
						<div class="hero_content">
							<div class="left">
								<span class="hello">Bonjour,Je suis</span>
								<h3 class="name">{{moi.nom}} {{moi.prenom}}</h3>
								<p class="text">Futur développeur web en formation</p>
							</div>
							<div class="right">
								<div class="image parallax" data-relative-input="false">
									<img src="img/thumbs/47-60.jpg" id="prof" alt="" />
									<div class="main layer" data-depth="0.05" data-img-url="img/hero/patrice_photo.jpg" id="photo_profil"></div>
									<span class="box layer" data-depth="0.1"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /HOME -->
				
				<!-- ABOUT -->
				<div class="iknow_tm_animate_section" id="about">
					<div class="section_inner">
						<div class="iknow_tm_about">
							<div class="left">
								<div class="left_inner">
									<div class="image">
										<img src="img/thumbs/35-44.jpg" id="prof2" alt="" />
										<div class="main" data-img-url="img/hero/patrice_photo.jpg" id="prof3"></div>
									</div>
									<div class="details">
										<ul>
											<li>
												<h3>Nom</h3>
												<span>{{moi.nom}}</span>
											</li>
											<li>
												<h3>Prenom</h3>
												<span>{{moi.prenom}}</span>
											</li>
											<li>
												<h3>Âge</h3>
												<span>21 ans</span>
											</li>
											<li>
												<h3>Mail</h3>
												<span>{{moi.mail}}</span>
											</li>
											<li>
												<h3>Télèphone</h3>
												<span>+123 456 7890</span>
											</li>
											<li>
												<h3>Addresse</h3>
												<span>{{moi.adresse}}</span>
											</li>
											<li>
												<h3>Nationalité</h3>
												<span>{{moi.nationalite}}</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="right">
								<div class="iknow_tm_main_title">
									<span>À propos de moi</span>
									<h3>{{futur_metier.intitule}}</h3>
								</div>
								<div class="bigger_text">
									<p>{{futur_metier.sous_titre}}</p>
								</div>
								<div class="text">
									<p>{{futur_metier.presentation}}</p>
								</div>
								<div class="iknow_tm_button">
									<a href="img/cv/1.jpg" id="mon_cv_about" download>Télécharger CV</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /ABOUT -->
				
				<!-- RESUME -->
				<div class="iknow_tm_animate_section" id="resume">
					<div class="section_inner">
						<div class="iknow_tm_resume">
							<div class="iknow_tm_main_title">
								<span>Curriculum vitae</span>
							</div>

							<div class="info_list">
								<div class="iknow_tm_resume_title">
									<h3>Formation</h3>
									<span class="shape"></span>
								</div>
								<ul>
									<li v-for="item in cv.formation">
										<div class="list_inner">
											<div class="short">
												<div class="job">
													<h3>{{item.intitule}}</h3>
													<span>{{item.etablissement}}, {{item.lieu}}</span>
												</div>
												<div class="year">
													<span>{{item.date}}</span>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>

							<div class="info_list">
								<div class="iknow_tm_resume_title">
									<h3>Compétences techniques</h3>
									<span class="shape"></span>
								</div>
								<ul>
									<li v-for="(value,name) in competence_techniqu">
										<div class="list_inner">
											<div class="short">
												<div class="job">
													<h3>{{name}} :</h3> 
													<span>{{value}}</span>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							
							<div class="info_list">
								<div class="iknow_tm_resume_title">
									<h3>Expérience professionnelle</h3>
									<span class="shape"></span>
								</div>
								<ul>
									<li v-for="item in cv.exp_professionelle">
										<div class="list_inner">
											<div class="short">
												<div class="job">
													<h3>{{item.intitule}}</h3>
													<span>{{item.entreprise}}, {{item.lieu}}</span>
												</div>
												<div class="year">
													<span>{{item.date}}</span>
												</div>
											</div>
											<div class="text">
												<p>{{item.description}}</p>
											</div>
										</div>
									</li>
								</ul>
							</div>

							<div class="info_list">
								<div class="iknow_tm_resume_title">
									<h3>Langues</h3>
									<span class="shape"></span>
								</div>
								<br><br>
								<h5><p v-for="value in cv.langues">{{value.intitule}}: {{value.niveau}}</p></h5>

							</div>
						</div>
					</div>
				</div>
				<!-- /RESUME -->
				
				<!-- PORTFOLIO -->
				<div class="iknow_tm_animate_section" id="portfolio">
					<div class="section_inner">
						<div class="iknow_tm_portfolio">
							<div class="iknow_tm_main_title">
								<span>Portfolio</span>
								<h3>Mes projets réaliser</h3>
							</div>
							<div class="portfolio_filter">
								<ul>
									<li><a href="#" class="current" data-filter="*">All</a></li>
									<li><a href="#" data-filter=".detail">Detail</a></li>
								</ul>
							</div>
							<div class="portfolio_list">
								<ul class="gallery_zoom">									
									<li class="detail">
										<div class="list_inner">
											<div class="image">
												<img src="img/thumbs/1-1.jpg" alt="" />
												<div class="main" data-img-url="img/portfolio/8.jpg"></div>
											</div>
											<div class="overlay"></div>
											<img class="svg" src="img/svg/text.svg" alt="" />
											<div class="details">
												<span>Detail</span>
												<h3>Portfolio</h3>
											</div>
											<a class="iknow_tm_full_link portfolio_popup" href="#"></a>

											<div class="hidden_content">
												<div class="popup_details">
													<div class="main_details">
														<div class="textbox">
															<p>Création d'un Portfolio à l'aide de de vue et Firebase</p>
															<p>Mockups are useful both for the creative phase of the project - for instance when you're trying to figure out your user flows or the proper visual hierarchy - and the production phase when they will represent the target product.</p>
														</div>
														<div class="detailbox">
															<ul>
																<li>
																	<span class="first">Client</span>
																	<span>Moi</span>
																</li>
																<li>
																	<span class="first">Plus d'information</span>
																	<span><a href="#">Lien du site</a></span>
																</li>
																<li>
																	<span class="first">Date</span>
																	<span>28/04/2022</span>
																</li>
																<li>
																	<span class="first">Share</span>
																	<ul class="share">
																		<li><a href="#"><img class="svg" src="img/svg/social/facebook.svg" alt="" /></a></li>
																		<li><a href="#"><img class="svg" src="img/svg/social/twitter.svg" alt="" /></a></li>
																		<li><a href="#"><img class="svg" src="img/svg/social/instagram.svg" alt="" /></a>
																		</li>
																	</ul>
																</li>
															</ul>
														</div>
													</div>
													<div class="additional_images">
														<ul>
															<li>
																<div class="list_inner">
																	<div class="my_image">
																		<img src="img/thumbs/4-2.jpg" alt="" />
																		<div class="main" data-img-url="img/portfolio/1.jpg"></div>
																	</div>
																</div>
															</li>
															<li>
																<div class="list_inner">
																	<div class="my_image">
																		<img src="img/thumbs/4-2.jpg" alt="" />
																		<div class="main" data-img-url="img/portfolio/2.jpg"></div>
																	</div>
																</div>
															</li>
															<li>
																<div class="list_inner">
																	<div class="my_image">
																		<img src="img/thumbs/4-2.jpg" alt="" />
																		<div class="main" data-img-url="img/portfolio/3.jpg"></div>
																	</div>
																</div>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</li>

								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- /PORTFOLIO -->
				
			</div>
		</div>
		</div>
	</div>
	<!-- /MAINPART -->
	
	<!-- MAGIC CURSOR -->
	<div class="mouse-cursor cursor-outer"></div>
	<div class="mouse-cursor cursor-inner"></div>
	<!-- /MAGIC CURSOR -->
		
</div>
<!-- / WRAPPER ALL -->
	
<!-- SCRIPTS -->
<script src="js/jquery.js"></script>
<!--[if lt IE 10]> <script type="text/javascript" src="js/ie8.js"></script> <![endif]-->	
<script src="js/plugins.js"></script>
<script src="js/init.js"></script>

<script type="module">
	// Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.10/firebase-app.js";
    import { getFirestore, collection, getDocs, getDoc, doc } from "https://www.gstatic.com/firebasejs/9.6.10/firebase-firestore.js";
    import { getDownloadURL, getStorage, ref } from "https://www.gstatic.com/firebasejs/9.6.10/firebase-storage.js";
    
	const firebaseConfig = {
		apiKey: "AIzaSyD_f8tqt5KOP8N_FDNUN46Q_3Fr79PgSIE",
		authDomain: "portfolio-stage-l3.firebaseapp.com",
		projectId: "portfolio-stage-l3",
		storageBucket: "portfolio-stage-l3.appspot.com",
		messagingSenderId: "814782569024",
		appId: "1:814782569024:web:6cdfb63c410491554d9da5"
	};

	// Initialize Firebase
	const app = initializeApp(firebaseConfig);

	const db=getFirestore(app);
	const storage=getStorage();
	//const cvRef=ref(storage, 'Above/CV_KOUASSI.pdf');
    const a_propos_de_moiCollection= collection(db, 'a_propos_de_moi');

	const cv1Collection= collection(db, 'cv');

	var vue=new Vue({
    	el: "#app",
    	data: {
			moi : {},
			reseaux_sociaux: {},
			futur_metier: {},
			cv: {},
			competence_techniqu: {},
			cv_url: null,
			photo_profil:null			
		},
		created() {
			this.set_photo_profile();
			this.a_propos_de_moi();
			this.a_propos_de_moi_reseaux_sociaux();
			this.cv_cv1();
			this.cv_competence_techniques();
		}, 
		methods: {
			a_propos_de_moi(){
				getDocs(collection(db, 'a_propos_de_moi'))
					.then(snapshot => {	
						snapshot.docs.forEach( doc => {
							console.log(doc.data())
							if(doc.id==="moi") this.moi=doc.data();
							if(doc.id==="futur_metier") this.futur_metier=doc.data();
							if(doc.id==="reseaux_sociaux") this.reseaux_sociaux=doc.data();
						})
					})
					.catch( err => {
						console.log(err)
					})
			},
			a_propos_de_moi_reseaux_sociaux(){
				getDoc(doc(db,'a_propos_de_moi/reseaux_sociaux'))
					.then(snap => {
						if(snap.exists()){
							//console.log(snap.data().linkedin)
							const link=document.getElementById("reseau_linkedin");
							link.setAttribute('href', snap.data().linkedin)
						}
					})
			},
			async cv_cv1(){
				const rep= await getDoc(doc(db,'cv/cv1'));
				if(rep.exists()){
					this.cv=rep.data();
					this.competence_techniqu=rep.data().competence_techniques;
					console.log(this.competence_techniqu.Langages)
					//console.log(rep.data())
					//console.log((this.cv.competence_techniques).Langages)
				}
			},
			async cv_competence_techniques(){
				//console.log("test");
				//console.log(this.cv);
				//console.log((this.cv.competence_techniques).Langages);
				this.competence_techniqu=this.cv.competence_techniques;
			},
			set_photo_profile(){
				getDownloadURL(ref(storage,'img/a_propos_de_moi/patrice_photo.jpg'))
					.then(url => {
						console.log(url);
						//this.cv_url=url;
						this.photo_profil=url;
						const img=document.getElementById('prof2');
						const img2=document.getElementById('prof3');
                		img.setAttribute('src',url)
						img.setAttribute('data-img-url',url)
					})
					.catch((error) => {
						console.log(error.message)
					});

				getDownloadURL(ref(storage,'img/cv/CV_KOUASSI.pdf'))
					.then(url => {
						//console.log(url);
						this.cv_url=url;
						const img=document.getElementById('mon_cv');
                		img.setAttribute('href',url);
						const img2=document.getElementById('mon_cv_about');
                		img2.setAttribute('href',url)
					})
					.catch((error) => {
						console.log(error.message)
					})
			}
		},
	})

</script>
<!-- /SCRIPTS -->

</body>
</html>